{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Restaurants{% endblock title %}

{% block content %}
    <!--  RESTAURANTS LIsST   -->
    <div class="container mt-2 mb-3">
        {% if restaurants %}
        <div class="row">
            {% for restaurant in restaurants %}
                <!-- ITEM -->
                <div class="col-md-4  col-lg-3 m-0 mb-2">
                    <div class="card p-1">
                        <a href="{{ restaurant.get_absolute_url }}">
                            <div>
                                {% if restaurant.pp %}
                                    <img class="restaurant_list_img  img-fluid" src="{{ restaurant.pp.url }}">
                                {% else %}
                                     <img class="restaurant_list_img  img-fluid" src="{% static 'img/pp.jpg' %}">
                                {% endif %}
                            </div>
                        </a>
                        <div class="card-body">
                            <h5>
                                <a href="{{ restaurant.get_absolute_url }} ">{{ restaurant.title }}</a>
                            </h5>
                            <span>Condition: {{ restaurant.environment }}</span><br>
                            <span>Orderable: <span class="text-info">{{ restaurant.is_orderable }}</span></span><br>
                            <span>Address: {{ restaurant.city.title }}</span>
                            <br>
                        </div>
                    </div>
                </div> <!-- ITEM -->
            {% endfor %}
        </div><!-- row -->
        <div id="addData" class="row"></div>
    </div>
    <div class="container text-center mb-3">
        {% csrf_token %}
        <button id="showMoreBtn" data-no='20' type="button" class="btn btn-sm btn-info">Load more</button>
    </div>
    {% else %}
        <div class="text-center text-danger font-weight-bold">No restaurants found!</div>
    {% endif %}
{% endblock content %}


{% block js_files %}
    <script type="text/javascript">
        $(document).ready(function(){
            $('#showMoreBtn').click(function(){
                $('#ajaxLoader').show();
                _this = $('#showMoreBtn');
                $.ajax({
                    type: "POST",
                    url: "{% url 'restaurants:list' %}",
                    data: {
                        'csrfmiddlewaretoken': $('input[name="csrfmiddlewaretoken"]').val(),
                        'dataNo': _this.attr('data-no'),
                    },
                    success: function(response){
                        _this.attr('data-no', parseFloat(_this.attr('data-no'))+10);
                        $('#addData').append(response);
                        $('#ajaxLoader').hide();
                    },
                    error: function(){
                        notifyNow("Couldn't load data. Try again.")
                        $('#ajaxLoader').hide();
                    }
                });
            });
        });
    </script>
{% endblock js_files %}