{% extends 'base.html' %}
{% load staticfiles %}
{% block title  %}Change Login Password{% endblock title %}
{% block offer_slide_with_searchbar %}{% endblock offer_slide_with_searchbar %}

{% block content %}
	<div class="container mb-4">
		<div class="row">
			<div class="col-lg-4 offset-lg-4 col-sm-6 offset-sm-3 col-10 offset-1  mt-5 pt-2 card">
				<h4 class="card-header text-center">Change Password</h4>
				<style type="text/css">
					.errorlist{display: none!important;}
				</style>
				<div class="card-body">
					{% if form.non_field_errors or form.errors %}
						<div class="alert alert-danger mt-1 alert-dismissible fade show" role="alert">
						  	<small>{{ form.non_field_errors|first }}</small>
						  	<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						  		<span aria-hidden="true">&times;</span>
						  	</button>
						</div>
					{% endif %}
					<form action="{% url 'accounts:change-password' %}" method="POST">
						{% csrf_token %}
						{{ form.as_p }}
						<button type="submit" class="btn btn-sm btn-success">
							<span class="fa fa-send"></span> Change
						</button>
						<button type="button" id="showPass" class="btn btn-sm btn-info">
							<span id="symbol" class="fa fa-eye"></span>
						</button>
					</form>
				</div>

				<!-- send code again -->
				<div class="card-footer text-center">
					Forgot password? <a href=""> recover now</a>
				</div>
			</div>
		</div>
	</div>
{% endblock content %}



{% block js_files %}
	<script type="text/javascript">
		$(document).ready(function(){
			var show = false;
			$("#showPass").click(function(){
				if( !show ){
					$("#id_old_password").attr({'type':'text'});
					$("#id_new_password").attr({'type':'text'});
					$("#id_re_password").attr({'type':'text'});
					$("#symbol").removeClass('fa-eye');
					$("#symbol").addClass('fa-eye-slash');
					show = true;
				}else{
					$("#id_old_password").attr({'type':'password'});
					$("#id_new_password").attr({'type':'password'});
					$("#id_re_password").attr({'type':'password'});
					$("#symbol").removeClass('fa-eye-slash');
					$("#symbol").addClass('fa-eye');
					show = false;
				}
			});
		});
	</script>
{% endblock js_files %}