{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Login to RestoraBD{% endblock title %}
{% block offer_slide_with_searchbar %}{% endblock offer_slide_with_searchbar %}




{% block content %}
<div class="container mt-5 mb-5" style="min-height: 400px">
	<div class="card col-md-6 offset-md-3 col-sm-8 offset-sm-2">
		<h3 class="card-header text-center">RestoraBD Login</h3>
		<div class="card-body">
			{% if form.non_field_errors or form.errors %}
				<div class="alert alert-warning alert-dismissible fade show" role="alert">
				  	{{ form.non_field_errors|first }}
				  	<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				  		<span aria-hidden="true">&times;</span>
				  	</button>
				</div>
			{% endif %}
			<style type="text/css">
				.errorlist{display: none!important;}
			</style>
			<form method="POST" action="">
				{% csrf_token %}
				{{ form.as_p }}
			    <button type="submit" class="btn btn-sm btn-success">
			    	<span class="fa fa-sign-in"></span> Sign In
			    </button>
			</form>
			<div class="card-footer mt-3 text-center">
				Not a member yet? <a href="{% url 'accounts:register' %}">Sign Up</a> now
			</div>
		</div>
	</div>
</div>

{% endblock content %}