{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}{{ restaurant.title }}{% endblock title %}
{% block offer_slide_with_searchbar %}{% endblock offer_slide_with_searchbar %}

{% block content %}

    

    {% include 'restaurants/__include/__restaurant_cover.html' %}


    <!--    REVIEW FORM -->
    <div class="container mt-3">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="text-center">
                    <button type="button" data-toggle="collapse" data-target="#collapsedReviewForm" class="font-weight-bold dropdown-toggle btn btn-sm btn-success mb-2" data-toggle="dropdown">
                        Write a review
                    </button>
                </div>

                <style type="text/css">
                    #food{
                        font-size: 0.9em;
                    }
                </style>

                <!-- REVIEW FORM -->
                <form action="{% url 'reviews:create' %}?next={{request.path}}" method="POST">
                    {% csrf_token %}
                    <div class="collapse bg-white row p-3" id="collapsedReviewForm">
                        <label for="food" class="font-weight-bold">Food Quality</label>
                        <select id="food" class="form-control" name="food">
                            <option value="1">Very Poor</option>
                            <option value="2">Poor</option>
                            <option value="3" selected>Medium</option>
                            <option value="4">Good</option>
                            <option value="5">Awesome</option>
                        </select>
                         <label for="price" class="font-weight-bold">Price</label>
                        <select id="price" class="form-control" name="price">
                            <option value="1">Very Poor</option>
                            <option value="2">Poor</option>
                            <option value="3">Medium</option>
                            <option value="4" selected>Good</option>
                            <option value="5">Awesome</option>
                        </select>
                         <label for="service" class="font-weight-bold">Service</label>
                        <select id="service" class="form-control" name="service">
                            <option value="1">Very Poor</option>
                            <option value="2">Poor</option>
                            <option value="3" selected="">Medium</option>
                            <option value="4">Good</option>
                            <option value="5">Awesome</option>
                        </select>
                        <label for="environment" class="font-weight-bold">Environment</label>
                        <select id="environment" class="form-control" name="environment">
                            <option value="1">Very Poor</option>
                            <option value="2">Poor</option>
                            <option value="3" selected="">Medium</option>
                            <option value="4">Good</option>
                            <option value="5">Awesome</option>
                        </select>
                        <label for="title" class="font-weight-bold" >Title</label>
                        <input id="title" name="title" required="" class="form-control" type="text" placeholder="e.g. Awesome">
                        <input type="hidden" id="restaurant" name="restaurant" value="{{ restaurant.pk }}">
                        <label for="review" class="font-weight-bold">Review</label>
                        <textarea id="review" name="review" style="height: 140px" class="form-control mb-1" type="text" placeholder="Your review"></textarea>
                        <button type="submit" id="reviewSubmit" class=" mb-3 btn btn-sm btn-success">
                            <span class="fa fa-send"></span> Submit
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <!--    REVIEW RESULT -->
    <div class="container mt-3 mb-3">
        <div class="row" >
            <div class="col-md-4 pb-3 sticky-top bg-light card" style="max-height: 320px;">
                {% if review %}
                    <div class="card-header text-center">
                        <h4 class="font-weight-bold">{{ review.status }}</h4>
                        <div class="text-danger">
                            <span class="fa {{ review.star1 }}"></span>
                            <span class="fa {{ review.star2 }}"></span>
                            <span class="fa {{ review.star3 }}"></span>
                            <span class="fa {{ review.star4 }}"></span>
                            <span class="fa {{ review.star5 }}"></span>
                            <span class="text-secondary"> ({{ review.average }})</span>
                        </div>
                        <div class="text-secondary"> Reviewed by {{ review.reviewed_people_no }}{% if review.reviewed_people_no < 2%} people{% else %} peoples{% endif %}</div>
                    </div>
                    <!-- DETAIL RATINGS/REVIEWS -->
                    <div class="card-body ">
                        <div class="row pb-2 pt-2">
                            <div class="col-6 p-0  text-left ">
                                Food
                            </div>
                            <div class="col-6 p-0 text-right text-success" >
                                {{ food }}
                                <span class="text-secondary">({{review.food}})</span>
                            </div>
                            <!-- PRICE -->
                            <div class="col-6 p-0  text-left ">
                                Price
                            </div>
                            <div class="col-6 p-0 text-right text-primary" >
                                {{ price }}
                                <span class="text-secondary">({{review.price}})</span>
                            </div>

                            <!-- SERVICE -->
                            <div class="col-6 p-0 text-left ">
                                Service
                            </div>
                            <div class="col-6 p-0 text-right text-dark" >
                                {{ service }}
                                <span class="text-secondary">({{review.service}})</span>
                            </div>

                            <!-- ENVIRONMENT -->
                            <div class="col-6 p-0 text-left">
                                Environment
                            </div>
                            <div class="col-6 p-0 text-right text-info" >
                                {{ environment }}
                                <span class="text-secondary">({{review.environment}})</span>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <h6 class="text-center text-danger mt-5">Nobody reviewed!</h6>
                {% endif %}
                
            </div><!--    REVIEW AVERAGE RESULT -->
            <!-- items -->
            <div class="col-md-8 bg-white">
            {% for user_review in user_reviews %}
                    <!-- REVIEW Delete modal -->
                    <div class="modal fade" id="reviewDeleteModal" tabindex="-1" role="dialog" aria-labelledby="reviewDeleteModalHeader">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content" >
                                <div class="modal-header">
                                    <h5 class="modal-title text-center" id="reviewDeleteModalHeader">
                                        Delete confirmation
                                    </h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body" >
                                    <span class="text-secondary">Are you sure you want to delete <span class="alert-link text-info">{{ user_review.title }} ({{ user_review.average }})</span>?</span><br><br>
                                    
                                    <form action="{% url 'reviews:delete' user_review.pk %}" method="POST">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-sm btn-danger" >Proceed</button>
                                        <button type="button" class="btn btn-sm btn-success" data-dismiss="modal" aria-label="Close">Cancel</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div><!-- REVIEW Delete modal -->

                <div class="media   mt-3">
                    {% if user_review.account.pp %}
                        <a href="{{ user_review.account.get_profile_url }}">
                            <img class="mr-2 rounded-circle" src="{{ user_review.account.pp.url }}" height="64" width="64" title="RestoraBD.com.bd user photo" alt="RestoraBD user photo">
                        </a>
                    {% else %}
                        <a href="{{ user_review.account.get_profile_url }}">
                            <img class="mr-2 rounded-circle" src="{% static 'img/pp.jpg' %}" height="64" width="64" title="RestoraBD.com.bd user photo" alt="RestoraBD user photo">
                        </a>
                    {% endif %}
                    <div class="media-body ">
                        <h6 class="mt-0 font-weight-bold">
                            {% if request.user.is_authenticated and user_review.account.user == request.user %}
                                {{ user_review.title }} 
                                <button class="btn btn-sm btn-danger p-0 pr-1 pl-1" data-toggle="modal" data-target="#reviewDeleteModal" type="button">
                                    <span class="fa fa-trash-o text-white"></span>
                                </button>
                            {% else %}
                                {{ user_review.title }} 
                            {% endif %}
                        </h6>
                        
                        <div class="text-danger mr-2">
                            <span class="fa {{ user_review.star1 }}"></span>
                            <span class="fa {{ user_review.star2 }}"></span>
                            <span class="fa {{ user_review.star3 }}"></span>
                            <span class="fa {{ user_review.star4 }}"></span>
                            <span class="fa {{ user_review.star5 }}"></span>
                            <span class="text-secondary">({{ user_review.average }})</span>
                        </div>
                        <span class="">{{ user_review.content }}</span>
                        <br>
                        <small class="text-secondary">
                            - by <a class="text-secondary" href="{{ user_review.account.get_profile_url }}">{{ user_review.account.user.username }}</a> | {{ user_review.created_at }}
                        </small>
                    </div>
                </div>
            {% endfor %}
            </div><!-- items -->
        </div>
    </div>
{% endblock content %}










{% block js_files %}
    <script type="text/javascript">
        $(document).ready(function(){
            /*
            $('#reviewSubmit').click(function(e){
                e.preventDefault();
                title  = $('#title').val();
                review = $('#review').val();
                $.ajax({
                    type: "POST",
                    url: "/reviews/create/",
                    data: {
                        csrfmiddlewaretoken: $('input[name="csrfmiddlewaretoken"]').val(),
                        'restaurant': $("#restaurant").val(),
                        'food': $('#food').val(),
                        'price': $('#price').val(),
                        'service': $('#service').val(),
                        'environment': $('#environment').val(),
                        'title': $('#title').val(),
                        'review': $('#review').val(),
                    },
                    success: function(response){
                        notifyNow(response['msg'], response['signal'])
                    }
                });
            });
            */
        });
    </script>
{% endblock js_files %}